---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const members = await getCollection("team");

// the posts are displayed in a grid layout, with 3 columns depending on the screen size
// each post has the same height, if there is more text than the other posts, the text will be cut off
---

<BaseLayout>
  <section class="grid max-w-2xl justify-stretch px-0 mx-auto grid-cols-1 mt-0 gap-x-8 gap-y-8 md:grid-cols-2 xl:grid-cols-2 dark:text-white">
    {
      members.map((member) => (
        
          <div class="bg-red-100 w-full text-3xl mx-auto px-0 font-public font-thin">
            <a href={`/team/${member.slug}/`}>
            <img
              src={member.data.portrait}
              alt={member.data.name}
              class="mb-2 w-full rounded-2xl dark:shadow-white"
            />
            <h1 class="text-2xl my-0">{member.data.name}</h1>
            <h2 class="text-xl my-0 py-0">{member.data.title}</h2>
            </a>
          </div>

        
      ))
    }
  </section>
</BaseLayout>