---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const features = (await getCollection("features")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// the posts are displayed in a grid layout, with 3 columns depending on the screen size
// each post has the same height, if there is more text than the other posts, the text will be cut off
---

<BaseLayout>
  
  <section
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-2 mt-4 gap-y-8 dark:text-white"
  >

  <div id="clickfeature" class="gap-3 md:col-span-2 mx-2 rounded-xl shadow-[inset_0px_0px_0px_rgba(0,0,0,0.6)] shadow-white bg-stone-100 dark:bg-stone-800 grid grid-cols-1 md:grid-cols-2" id="featured">
    
    <div class="overflow-hidden rounded-t-xl md:rounded-tr-none md:rounded-s-xl ">
      <a class="inline" href={`/features/${features[0].slug}/`}>
      <img
         src={features[0].data.heroImage}
         alt={features[0].data.description} 
         class="">




    </div>
    <div class="px-12">
<h1>{features[0].data.title}</h1>
<h2>{features[0].data.subtitle}</h2>
</a>

</div>




  </div>
    {
      posts.map((post) => (
        
          <div class="pb-8 px-2 text-3xl h-full font-public font-thin text-black dark:text-gray-200">
            <a href={`/blog/${post.slug}/`}>
            <img
              src={post.data.heroImage}
              alt={post.data.description}
              class="rounded-xl mb-xl4 mx-auto"
            />
            <h2 class="text-black dark:text-white pt-4">{post.data.title}</h>
            <h3 class="font-normal text-stone-500">{post.data.subtitle}</h2>
              </a>
          </div>
        
      ))
    }
  </section>
</BaseLayout>
