---
import { Image } from "astro:assets";
import myImg from "../assets/sport.jpg";
---

<h1>This is just an image test!</h1>
{JSON.stringify(myImg)}

<!-- original size, native img tag, remains jpg tag -->
<img src={myImg.src} alt={"asdf"} />

<!-- original size, aber transformed into webp (viiiiiiel kleinere Filesize) -->
<Image src={myImg} alt={"asdf"} />

<!-- width 300 -->
<Image src={myImg} width={300} alt={"asdf"} />

<!-- tiny width and change style -->
<Image
  src={myImg}
  width={10}
  alt={"asdf"}
  style="height: auto; width: 300px; object-fit: cover;"
/>
