---
import { Image } from "astro:assets";
import CoolImage from "../components/Image.astro";
import CaptionedImage from "../components/editors/CaptionedImage.astro";
import myImg from "../assets/sport.jpg";
---

<h1>This is just an image test!</h1>
{JSON.stringify(myImg)}

<!-- original size, native img tag, remains jpg tag -->
<img src={myImg.src} alt={"asdf"} />

<!-- original size, aber transformed into webp (viiiiiiel kleinere Filesize) -->
<Image src={myImg} alt={"asdf"} />

<!-- width 300 -->
<Image src={myImg} width={300} alt={"asdf"} />

<!-- tiny width and change style -->
<Image
  src={myImg}
  width={10}
  alt={"asdf"}
  style="height: auto; width: 300px; object-fit: cover;"
/>

<p>------------------ Tests with Custom Image components -----------</p>
<!--- Custom Image component to support Retina screens .... -->
<CoolImage src={myImg} alt="ALT: An image of..." />

<!--- Captioned Image Component, that just builds upon CoolImage component by adding a caption.... -->
<CaptionedImage
  src={myImg}
  caption="Here you can see a dog with a hat"
  alt="ALT: An image of..."
/>
