---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

// get all posts from the blog collection, sorted by date and filtered by draft: false
const posts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const features = (await getCollection("features")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// the posts are displayed in a grid layout, with 3 columns depending on the screen size
// each post has the same height, if there is more text than the other posts, the text will be cut off
---

<BaseLayout>
  <section
    class="grid md:grid-cols-2 xl:grid-cols-2 gap-2 mt-0 gap-y-8 dark:text-white"
  >
 
    {
      posts.map((post) => (
        <div class="pb-8 px-2 text-3xl h-full font-public font-thin text-black dark:text-gray-200">
          <a href={`/blog/${post.slug}/`}>
            <img
              src={post.data.heroImage}
              alt={post.data.description}
              class="mb-xl4 mx-auto"
            />
            <h2 class="text-black dark:text-white pt-4">{post.data.title}</h2>
            <h3 class="font-medium text-black">{post.data.subtitle}</h3>
          </a>
        </div>
      ))
    }
  </section>
</BaseLayout>
