---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  subtitle,
  author,
  description,
  showintro,
  pubDate,
  updatedDate,
  heroImage,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <article class="w-full">
    <FormattedDate date={pubDate} /><p
      class="inline pt-0 mt-0 text-center text-black text-xs"
    >
      {author}
    </p>
    <h1 class="text-left font-black capitalize mb-0 pb-0">{title}</h1>
    <h2 class="text-left font-medium pt-0 pb-0 text-2xl">{subtitle}</h2>
    {heroImage && <Image src={heroImage} alt="" class="left-0 w-full" />}

    {
      showintro && (
        <div class="prose prose-lg max-w-none">
          The AI+D Lab is a research group at the{" "}
          <a href="https://www.hfg-gmuend.de">
            University of Design Schwäbisch Gmünd
          </a>
          . It is part of the <a href="https://www.gestaltung.ai">KITeGG</a>{" "}
          project, which is funded by the Federal Ministry of Education and
          Research (BMBF).
        </div>
      )
    }

    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <slot />
  </article>
</BaseLayout>
